* {
  font-family: 'League Spartan', sans-serif;
  color: white;
}

body {
  margin: 0; /* Remove margin to prevent spacing issues */
  height: 100vh; /* Make body take full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#student-number {
  margin: 0px;
}

#input-grades {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Ensure it spans full width */
}

#grid-card {
  background-color: white;
  padding: 20px;
  border-radius: 18px;
  border: none;
  width: 900px;
  display: grid;
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.2);
  line-height: 35px;
}

.card {
  background-color: rgb(255, 96, 3);
  padding: 20px;
  width: 300px;
  border-radius: 18px;
  text-align: left;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  color: black;
  padding: 5px;
  height: 20px;
  border: none;
  border-radius: 8px;
}

.inputBox {
  width: 166px;
}

/*Table Section*/
#table-grades {
  color: black;
  width: auto;
}
